MAIN_BOT_TOKEN=YOUR_MAIN_BOT_TOKEN
MAIN_ADMIN_ID=123456789
BOT_USERNAME=YourMainBotUsername
DB_PATH=data/main_bot.db
PAYMENT_CARD=8600 0000 0000 0000
PAYMENT_CARD_OWNER=Ism Familiya
KINO_ADMIN_USERNAME=@admin
WEB_ADMIN_URL=http://127.0.0.1:8000
WEB_ADMIN_HOST=0.0.0.0
WEB_ADMIN_PORT=8000
WEB_ADMIN_SECRET_KEY=change_this_secret_key_123
WEB_ADMIN_USERNAME=admin
WEB_ADMIN_PASSWORD=admin123
